<div class="container">
  <h3 class="mb-4">Flight Booking History</h3>
  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let booking of flightHistory">
      <div class="card" style="width: 100%; box-shadow: '0px 0px 7px #ccc'">
        <div class="card-body">
          <div class="card-text">
      <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Booking Id:
              <span style="font-weight: 400">{{ booking.id}}</span>
            </h6>
            <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 20px;
              border-radius: 5px;
            "
          >
            Flight Id:
            <span style="font-weight: 400">{{ booking.flightName }}</span>
          </h6>
          <h6
          style="
            padding: 15px 10px;
            box-shadow: '0px 0px 7px #ccc';
            margin-top: 15px;
            border-radius: 5px;
          "
        >
          Date:
          <span style="font-weight: 400">{{ booking.departureDate }}  </span>
        </h6>
        <h6
        style="
          padding: 15px 10px;
          box-shadow: '0px 0px 7px #ccc';
          margin-top: 15px;
          border-radius: 5px;
        "
      >
        Total Tickets:
        <span style="font-weight: 400">{{ booking.economyClassSeats+booking.businessClassSeats+booking.firstClassSeats }}</span>
      </h6>
        <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Total Cost:
              <span style="font-weight: 400">{{ booking.economyClassSeats+booking.businessClassSeats+booking.firstClassSeats-booking.resrvedeconomyClassSeats-booking.resrvedbusinessClassSeats-booking.resrvedfirstClassSeats }}</span>
            </h6>
            <div class="d-grid mt-3">
              <button class="btn btn-primary" (click)="showDetails(booking)">
                View
              </button>
              <button class="btn btn-danger" (click)="deleteFlight(booking.id)" >Delete</button>
              <button class="btn btn-warning"(click)="goToEdit(booking.id)" >Edit</button>

            </div>
        
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
