
  
  <div class="container">
    <p style="font-weight: bold; text-align: center; margin-bottom: 30px; font-size: 22px; color: black;">
      ENTER FLIGHT DETAILS
    </p>
  
    <form #flyForm="ngForm" (ngSubmit)="editfly()" >
      <div class="row">
        <div class="card mt-4" style="width: 100%; box-shadow: '0px 0px 7px #ccc'; background-color: white;">
          <div class="card-body">
            <h4 class="card-title font-weight-bold">General Details</h4>
  
            <div>
              <label for="flightName" style="font-size: 18px; font-weight: bold; color: black;">Flight Name</label>
              <input type="text" id="flightName" name="flightName" placeholder="Enter Flight Name" [(ngModel)]="fly.flightName" [ngModelOptions]="{standalone:true}" required />
            </div>
  
            <div>
              <label for="origin" style="font-size: 18px; font-weight: bold; color: black;">Origin</label>
              <select id="origin" name="origin" [(ngModel)]="fly.origin" [ngModelOptions]="{standalone:true}" required>
                <option value="Choose">Choose Origin</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Pune">Pune</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Patna">Patna</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Amritsar">Amritsar</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Kota">Kota</option>
                <option value="Delhi">Delhi</option>
                <option value="Chennai">Chennai</option>            </select>
            </div>
  
            <div>
              <label for="destination" style="font-size: 18px; font-weight: bold; color: black;">Destination</label>
              <select id="destination" name="destination" [(ngModel)]="fly.destination" [ngModelOptions]="{standalone:true}" required>
                <option value="Choose">Choose Destination</option>
                <option value="Choose">Choose Origin</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Pune">Pune</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Patna">Patna</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Amritsar">Amritsar</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Kota">Kota</option>
                <option value="Delhi">Delhi</option>
                <option value="Chennai">Chennai</option>            </select>
            </div>
  
            <div>
              <label for="duration" style="font-size: 18px; font-weight: bold; color: black;">Duration (in Hrs)</label>
              <input type="text" id="duration" name="duration" placeholder="Enter Duration" [(ngModel)]="fly.duration" [ngModelOptions]="{standalone:true}" required />
            </div>
  
            <div style="margin-top: 10px">
              <label for="departureDateTime" style="font-size: 18px; font-weight: bold; color: black;">Enter Depart Date and Time</label>
              <!-- Use separate fields for date and time -->
              <input type="date" id="departureDate" name="departureDate" min="2000-01-02" [(ngModel)]="fly.departureDate" [ngModelOptions]="{standalone:true}" required />
              <input type="time" id="departureTime" name="departureTime" [(ngModel)]="fly.departureTime" required />
            </div>
  
            <div style="margin-top: 10px">
              <label for="returnDateTime" style="font-size: 18px; font-weight: bold; color: black;">Enter Return Date and Time</label>
              <!-- Use separate fields for date and time -->
              <input type="date" id="returnDate" name="returnDate" min="2000-01-02" [(ngModel)]="fly.returnDate" [ngModelOptions]="{standalone:true}" required />
              <input type="time" id="returnTime" name="returnTime" [(ngModel)]="fly.returnTime" [ngModelOptions]="{standalone:true}" required />
            </div>
  
            <div class="form-check">
              <div style="font-size: 18px; font-weight: bold; color: black">Flight Classes</div>
              <div class="ml-5" style="font-size: 18px; color: black">
                <div class="mt-3">
                  <input class="form-check-input" type="checkbox" id="isEconomyClass" [ngModelOptions]="{standalone:true}" name="isEconomyClass" [(ngModel)]="fly.isEconomyClass" />
                  <label class="form-check-label" for="isEconomyClass">Economy Class</label>
                </div>
                <div class="mt-2">
                  <input class="form-check-input" type="checkbox" id="isBusinessClass" name="isBusinessClass" [(ngModel)]="fly.isBusinessClass" [ngModelOptions]="{standalone:true}" />
                  <label class="form-check-label" for="isBusinessClass">Business Class</label>
                </div>
                <div class="mt-2 mb-4">
                  <input class="form-check-input" type="checkbox" id="isFirstClass" name="isFirstClass" [(ngModel)]="fly.isFirstClass" [ngModelOptions]="{standalone:true}"/>
                  <label class="form-check-label" for="isFirstClass">First Class</label>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Economy Class -->
        <div *ngIf="fly.isEconomyClass" class="card mt-5" style="width: 100%; box-shadow: '0px 0px 7px #ccc'; background-color: white;">
          <div class="card-body">
            <h4 class="card-title font-weight-bold">Economy Class Details</h4>
            <div>
              <label for="economyClassSeats" style="font-size: 18px; font-weight: bold; color: black;">Total Seats</label>
              <input type="text" id="economyClassSeats" name="economyClassSeats" placeholder="Enter Total Seats" [(ngModel)]="fly.economyClassSeats " [ngModelOptions]="{standalone:true}" />
            </div>
            <div>
              <label for="economyClassTicketPrice" style="font-size: 18px; font-weight: bold; color: black;">Ticket Price</label>
              <input type="text" id="economyClassTicketPrice" name="economyClassTicketPrice" placeholder="Enter Ticket Price" [(ngModel)]="fly.economyClassTicketPrice" [ngModelOptions]="{standalone:true}"/>
            </div>
          </div>
        </div>
  
        <!-- Business Class -->
        <div *ngIf="fly.isBusinessClass" class="card mt-5" style="width: 100%; box-shadow: '0px 0px 7px #ccc'; background-color: white;">
          <div class="card-body">
            <h4 class="card-title font-weight-bold">Business Class Details</h4>
            <div>
              <label for="businessClassSeats" style="font-size: 18px; font-weight: bold; color: black;">Total Seats</label>
              <input type="text" id="businessClassSeats" name="businessClassSeats" placeholder="Enter Total Seats" [(ngModel)]="fly.businessClassSeats" [ngModelOptions]="{standalone:true}"/>
            </div>
            <div>
              <label for="businessClassTicketPrice" style="font-size: 18px; font-weight: bold; color: black;">Ticket Price</label>
              <input type="text" id="businessClassTicketPrice" name="businessClassTicketPrice" placeholder="Enter Ticket Price" [(ngModel)]="fly.businessClassTicketPrice" [ngModelOptions]="{standalone:true}"/>
            </div>
          </div>
        </div>
  
        <!-- First Class -->
        <div *ngIf="fly.isFirstClass" class="card mt-5" style="width: 100%; background-color: white;">
          <div class="card-body">
            <h4 class="card-title font-weight-bold">First Class Details</h4>
            <div>
              <label for="firstClassSeats" style="font-size: 18px; font-weight: bold; color: black;">Total Seats</label>
              <input type="text" id="firstClassSeats" name="firstClassSeats" placeholder="Enter Total Seats" [(ngModel)]="fly.firstClassSeats" [ngModelOptions]="{standalone:true}" />
            </div>
            <div>
              <label for="firstClassTicketPrice" style="font-size: 18px; font-weight: bold; color: black;">Ticket Price</label>
              <input type="text" id="firstClassTicketPrice" name="firstClassTicketPrice" placeholder="Enter Ticket Price" [(ngModel)]="fly.firstClassTicketPrice" [ngModelOptions]="{standalone:true}" />
            </div>
          </div>
        </div>
  
        <br /><br />
        <input type="submit" value="SUBMIT" class="mt-5" />
      </div>
    </form>
  </div>
  